# SPDX-License-Identifier: Apache-2.0

# Add out-of-tree driver Kconfig sources here as they are implemented.
# Examples:
# rsource "sim7600/Kconfig"
# rsource "mlx90640/Kconfig"
rsource "adc/Kconfig"
rsource "dac/Kconfig"
rsource "sensor/Kconfig"
